*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background-color: rgb(255, 255, 255);
    min-width: 100vw;
    min-height: 100vh;
}

header.top{
    width: 100vw;
    height: 4rem;
    background-color: rgb(19, 180, 126);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

header.top > h1{
    color: inherit;
    font-size: 2rem;
}
div.introduction{
    min-height: 280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
div.introduction > section{
    grid-column: 1/2;
    padding: 3rem;
    background-color: rgb(253, 250, 236);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
div.introduction > section > p{
    text-align: center;
    color: black;
    font-size: 1.05rem;
}
div.keyDiv{
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: teal;
    min-height: 10rem;
    
}


button#getKey{
    width: 60%;
    height: 2rem;
    border-radius: 5px;
    background-color: rgba(76, 143, 102, 0.623);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

div#keyResult{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 5rem;
    background-color: white;
}

div.ownKey{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    width: 60%;
}

div.errorDivOuter{
    grid-column: 3/4;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    position: relative;
}

div.errorDivInner{
    width: 100%;
    height: 60%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 15%;
    overflow: scroll;
}
div.errorDivOuter > p{
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}
p.errors{
    color: white;
    margin: .5rem;
    font-size: .8rem;

}

p#counter{
    position: absolute;
    bottom: 0;
}

div.createBook{
    width: 100vw;
    background-color: rgb(65, 79, 80);
    min-height: 3rem;
    padding: 1rem;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    align-items: center;
}
div.title, div.author{
    border: 2px solid pink;
    height: auto;
    display: flex;
    align-items: center;
}
div.createBook label{
    color: white;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}

div.createBook button{
    width: 4rem;
    height: 3rem;
    border-radius: 5px;
}
main.books{
    margin: 0 auto;
    width: 90vw;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}

div.bookCard{
    text-align: center;
    background-color: rgb(253, 250, 236);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 15px -10px;
}
div.bookCard:hover{
    transform: scale(1.1);
}

img{
    margin-bottom: .5rem;
    width: 100%;
    object-fit: cover;
}

ul{
    list-style: none;
    margin-bottom: .5rem;
}

ul > li{
    padding: 0 1rem;
    font-weight: 600;
}

li > span{
    font-weight: 500;
}
div.bookBtns{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: .2rem;
    margin: 0 auto .5rem;
}
div.bookBtns > button{
    padding: .5rem .4rem;
    border-radius: 10px;
    background-color: rgba(76, 143, 102, 0.623);
    font-weight: 600;
    cursor: pointer;
}


@media screen and (max-width: 600px){
    div.introduction{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    div.introduction > section{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    div.keyDiv{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    div.errorDivOuter{
        grid-column: 1/2;
        grid-row: 3/5;
    }

    div.createBook{
        flex-direction: column;
        font-size: 1.8rem;
    }
    #createBookBtn{
        position: absolute;
        right: 10%;
    }
    #showBooksBtn{
        position: absolute;
        left: 10%;
    }
}